<div class="card">
  <div class="login">
    <div class="login-header">
      <h3>LOGIN</h3>
      <p>Please enter your credentials to login.</p>
    </div>
  </div>
  <form>
      <!-- Username -->
      <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label"><span class="text-danger">*</span>Email:</label>
          <div class="col-sm-8">
              <input type="text" id="email" name="email" class="form-control">
          </div>
      </div>
      <!-- Password -->
      <div class="form-group row">
          <label for="password" class="col-sm-4 col-form-label"><span class="text-danger">*</span>Password:</label>
          <div class="col-sm-8">
              <input type="password" id="password" name="password" class="form-control">
          </div>
      </div>
      <!-- Login -->
      <div class="form-group row">
          <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </div>
  </form>
</div>
<!-- <div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>LOGIN</h3>
        <p>Please enter your credentials to login.</p>
      </div>
    </div>
    <form class="login-form">
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label"><span class="text-danger">*</span>Email:</label>
        <div class="col-sm-8">
          <input type="text" id="email" name="email" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label"><span class="text-danger">*</span>Password:</label>
        <div class="col-sm-8">
          <input type="text" id="password" name="password" class="form-control"/>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    </form>
  </div>
</div> -->
