.card {
  width: 500px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
  margin: auto;
  margin-top: 15vh;
}

.form-group {
  margin-bottom: 30px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.btn-primary {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}