.card {
  width: 500px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
  margin: auto;
  margin-top: 15vh;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}